<sly data-sly-use.model="com.figma.aem.core.models.ShieldAccordionsModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${model.fileReference || model.accordions.size > 0}">
    <div class="shield-accordions">
        <div class="shield-accordions__image-wrapper" data-sly-if="${model.fileReference}">
            <img class="shield-accordions__image" src="${model.fileReference}" alt="${model.altText}"/>
        </div>
        <div class="shield-accordions__content-wrapper" data-sly-if="${model.accordions.size > 0}">
            <div class="shield-accordions__list" data-sly-list.item="${model.accordions}">
                <div class="shield-accordion-item">
                    <h3 class="shield-accordion-item__header">
                        <button class="shield-accordion-item__button" aria-expanded="false" aria-controls="accordion-panel-${itemList.index}">
                            <span class="shield-accordion-item__title">${item.accordionTitle}</span>
                            <span class="shield-accordion-item__icon"></span>
                        </button>
                    </h3>
                    <div id="accordion-panel-${itemList.index}" class="shield-accordion-item__panel" role="region" hidden>
                        <div class="shield-accordion-item__content">
                            ${item.accordionDescription @ context='html'}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty=!model.fileReference && model.accordions.size == 0}"></sly>